@using System.Globalization;

@model Westwind.AspNetCore.Markdown.MarkdownModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
    ArticleInfo articleInfo;
    @if (Model.YamlHeader is not null)
    {
        articleInfo = YamlHelper.ReadYaml<ArticleInfo>(Model.YamlHeader);
    }
    else
    {
        articleInfo = new();
    }
}

<div>
    <div>
        <span>作者： @(string.IsNullOrWhiteSpace(articleInfo.Author) ? "Another End of Terra" : articleInfo.Author)</span>
        <br />
        @if (DateOnly.TryParse(articleInfo.Date, CultureInfo.InvariantCulture, out DateOnly result))
        {
            <span>日期： @result.ToString("yyyy年M月d日")</span>
            <br />
        }
        @if (articleInfo.Category is not null)
        {
            <span>
                分类：@foreach (string item in articleInfo.Category)
                {
                    <span style="margin: 0 auto 0 0;">@item</span>
                }
            </span>
            <br />
        }

        @if (articleInfo.Tag is not null)
        {
            <span>
                标签：@foreach (string item in articleInfo.Tag)
                {
                    <span style="margin: 0 auto 0 0; text-decoration: underline;">@item</span>
                }
            </span>
        }
    </div>
    <hr />
</div>

<div>
    @Model.RenderedMarkdown
</div>