@using System.Globalization;
@using Microsoft.AspNetCore.Http.Features;
@using AnEoT.Vintage.Helpers;

@inject IWebHostEnvironment env
@model Westwind.AspNetCore.Markdown.MarkdownModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
    IHttpRequestFeature? httpRequestFeature = Context.Features.Get<IHttpRequestFeature>();
    string[] uriParts = httpRequestFeature?.RawTarget.Split('/', StringSplitOptions.RemoveEmptyEntries) ?? Array.Empty<string>();

    ArticleInfo articleInfo;
    @if (Model.YamlHeader is not null)
    {
        articleInfo = YamlHelper.ReadYaml<ArticleInfo>(Model.YamlHeader);
    }
    else
    {
        articleInfo = new();
    }
}

<div style="margin-left:10%;margin-right:10%">
    @if (uriParts.Any() && uriParts.Length > 1)
    {
        <div>
            @for (int i = 0; i < uriParts.Length; i++)
            {
                if (i != 0)
                {
                    <span style="margin-left:1px;margin-right:1px">/</span>
                }

                if (i != uriParts.Length - 1)
                {
                    string target = string.Join('/', uriParts[..(i + 1)]);
                    string displayTitle = @PageTitleHelper.GetPageTitle(env.WebRootPath, target);
                    <a href="~/@target">@displayTitle</a>
                }
                else
                {
                    <span>@Model.Title</span>
                }
            }
        </div>
    }
    <h1 style="margin-bottom:10px">@Model.Title</h1>
    @if (uriParts.Any())
    {
        string target = string.Join('/', uriParts);
        <div style="margin-bottom:10px">
            <a href="https://aneot.terrach.net/@target">在原网站查看此页面</a>
            <br />
        </div>
    }
    <span>作者： @(string.IsNullOrWhiteSpace(articleInfo.Author) ? "Another End of Terra" : articleInfo.Author)</span>
    <br />
    @if (DateOnly.TryParse(articleInfo.Date, CultureInfo.InvariantCulture, out DateOnly result))
    {
        <span>日期： @result.ToString("yyyy年M月d日")</span>
        <br />
    }
    @if (articleInfo.Category is not null)
    {
        <span>
            分类：@foreach (string item in articleInfo.Category)
            {
                @if (CategoryAndTagHelper.GetAllCategories(env.WebRootPath).Contains(item))
                {
                    <a style="margin: 0 auto 0 0;" href="~/category/@item">@item</a>
                }
                else
                {
                    <span style="margin: 0 auto 0 0;">@item</span>
                }
            }
        </span>
        <br />
    }

    @if (articleInfo.Tag is not null)
    {
        <span>
            标签：@foreach (string item in articleInfo.Tag)
            {
                @if (CategoryAndTagHelper.GetAllTags(env.WebRootPath).Contains(item))
                {
                    <a style="margin: 0 auto 0 0;" href="~/tag/@item">@item</a>
                }
                else
                {
                    <span style="margin: 0 auto 0 0; text-decoration: underline;">@item</span>
                }
            }
        </span>
    }
</div>

<div style="margin-left:10%;margin-right:10%">
    @Model.RenderedMarkdown
</div>